.LoginScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

.LoginHoriz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px;
}
